* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}
.container {
  padding: 20%;
  padding-left: 40%;
}

.container-left {
  color: black;
  float: left;
  width: 50%;
  text-align: center;
}

.container-left h1 {
  font-family: "Bebas Neue", cursive;
  color: white;
  font-size: 500%;
  letter-spacing: 2px;
}

.container-left h3 {
  font-family: "Bebas Neue", cursive;
  color: white;
  font-size: 130%;
  word-spacing: 2px;
  letter-spacing: 2px;
}

@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

.footer-social-links {
  font-size: 24px;
  text-align: center;
  margin-top: 20%;
  padding-right: 50%;
}
.footer-social-links a {
  width: 30px;
  height: 30px;
  line-height: 25px !important;
  position: relative;
  margin: 0 5px;
  text-align: center;
  display: inline-block;
  color: white;

  -webkit-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  -moz-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  -o-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  -ms-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
}
.footer-social-links a i,
.footer-social-links a span {
  position: relative;
  top: 2px;
  left: 1px;
}
.footer-social-links a:before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.footer-social-links a:hover {
  color: rgb(255, 0, 255);
}
.footer-social-links a:hover:before {
  background: transparent;
}

.loader-div {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  position: relative;
  width: 10vw;
  height: 5vw;
  padding: 1.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader span {
  position: absolute;
  height: 0.8vw;
  width: 0.8vw;
  border-radius: 50%;
  background-color: rgb(102, 0, 255);
}

.loader span:nth-child(1) {
  animation: loading-dotsA 0.5s infinite linear;
}

.loader span:nth-child(2) {
  animation: loading-dotsB 0.5s infinite linear;
}

@keyframes loading-dotsA {
  0% {
    transform: none;
  }
  25% {
    transform: translateX(2vw);
  }
  50% {
    transform: none;
  }
  75% {
    transform: translateY(2vw);
  }
  100% {
    transform: none;
  }
}

@keyframes loading-dotsB {
  0% {
    transform: none;
  }
  25% {
    transform: translateX(-2vw);
  }
  50% {
    transform: none;
  }
  75% {
    transform: translateY(-2vw);
  }
  100% {
    transform: none;
  }
}

:root {
  --bs-dark: #212529;
}

.theme-container {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
}

.theme-container:hover {
  opacity: 0.8;
}

@keyframes change {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.4);
  }
}

.change {
  animation-name: change;
  animation-duration: 1s;
  animation-direction: alternate;
}
